body {
    font-family: Arial;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-direction: row wrap;
    gap: 30px 40px;
    padding: 25px 50px;
    text-align: justify;
  }

.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 100px;
}
.item {
    border : 12px solid black;   
}

