body {
    font-family: Arial;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-direction: row wrap;
    gap: 100px 50px;
    padding: 25px 50px;
    text-align: justify;
  }

.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    
}
.item {
    border : 2px solid black;   
}
.bulletpoint{
    text-align: center;
    list-style: inside;
}