body {
    font-family: Arial;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-direction: row wrap;
    gap: 60px 50px;
    padding: 25px 50px;
    text-align: justify;
  }

.container1 {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row wrap; */
    align-items: center;
    /* align-self: center; */
    /* position: relative; */
}
.item {
    border : 5px solid black;   
}
.my-rect{
    fill: rgb(202, 152, 197);
  }
  .my-circ{
    fill: rgb(243, 237, 51);
  }

.my-rect:hover {
    fill: rgb(9, 177, 228);
  }
  .my-circ:hover {
    fill: rgb(141, 16, 230);
  }
.bulletpoint{
    text-align: center;
    list-style: inside;
}